<!doctype html>


{% extends 'bankSystem/base.html' %}


{% block content %}
	<h1 class="container-fluid">Депозиты</h1>
    <ul class="list-group">	
        {% for deposit in object_list %}
            <li class="list-group-item">
                <div><a href="{%url 'deposits:deposit-details' pk=deposit.pk %}">Подробности</a></div>
                <div>Вид депозита - {{ deposit.type }}</div>
    <!-- пропиши  тут инфу о депозитах краткую -->
            </li>
        {% empty %}
            <li class="list-group-item">У вас пока нет активных вкладов.</li>
        {% endfor %}
    </ul>
{% endblock %}
