<nav class="part">
	<a href="{% url 'deposits:deposit-list' %}" alt="">Депозиты</a>
	<!-- <a href="https://www.bsb.by/business/account/byr-account/" alt="">Текущий счет в  рублях</a>
	<a href="https://www.bsb.by/business/account/foreign-account/" alt="">Текущий валютный счет</a>
	<a href="https://www.bsb.by/business/account/second_account/" alt="">Дистанционное открытие дополнительного счета</a>
	<a href="https://www.bsb.by/business/account/temporary/" alt="">Временный счет</a>
	<a href="https://www.bsb.by/business/account/other-accounts/" alt="">Другие счета</a>
	<a href="https://www.bsb.by/business/account/transaction-mailing/" alt="">Рассылка о движении по счету</a>
	<a href="https://www.bsb.by/business/account/depozits/" alt="" class="activ">Депозиты юридических лиц</a>
	<a href="https://www.bsb.by/business/account/stroke-code-payments/" alt="">Штрих-кодирование платежек</a>
	<a href="https://www.bsb.by/business/account/acceptance-withdraw-currency/" alt="">Прием и выдача иностранной валюты</a>
	<a href="https://www.bsb.by/business/account/receiving-trade-receipts/" alt="">Прием торговой выручки</a>
	<a href="https://www.bsb.by/business/account/offers/" alt="">Акция</a> -->
</nav>